body {
	background-color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 95%;
	border: 2px solid #d1d9df;
	border-radius: 10px;
  margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 5px;
}

#currentPage{
	font-size:0.7em ;
}

.margin{
  margin-left: 20px;
}

#survey{
	font-size:1.0em ;
}

.prePage{
	margin: 20px;
}

.prePage p{
	font-size: 1.0em;
}

h1 {
	font-weight: medium;
	font-size: 1.2em;
	margin-top: 0.75em;
	margin-bottom: 0;
}

p {
	font-size: 1.2em;
}

h2 {
	font-weight: normal;
	font-size: 1.25em;
	margin-top: 0.75em;
	margin-bottom: 0;
}

#button {
	width: 150px;
	height: 30px;
	border: 1px solid #8299aa;
	color: #74a9cf;
    background-color: #74a9cf;
    font-size: 24px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

textarea {
	width: 450px;
	height: 150px;
}

/* - - - IFRAME - -  */
iframe {
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 900px;
}


/* TOP MENU */
.menu {
  background-color:#ffffff;
  overflow: hidden;
  font: 12px;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: top 0.5s;
}


/* Style the links inside the navigation bar */
.menu a {
	background-color:#d1d9df;
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 50%;
	cursor: pointer;
}

/* Change color when hovering over button*/
.menu a:hover {
  color:white;
  background-color:#74a9cf;
}


#introPOP {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  background-color: rgba(255, 255, 255, 255);
  z-index: 2;
  font-size: 20px;
  width: 90%;
  height: 80%;
  border: 2px solid #d1d9df;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.bolded{
  font-weight: bold;
}


#node1{
  font-weight: bold;
}

#node2{
  font-weight: bold;
}


/* Theory page */
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 5px;
  height: 300px;
  border: 2px solid #ffffff;
  background-color: #d1d9df;
}

#shorter{
  height: 200px;
}

.img:hover {
  transform: scale(2.5);
  cursor: zoom-in;
  position: center;
  display: block;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#img1:hover{
  margin-left: 50%;
}

#img3:hover{
  margin-left: -50%;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#CMV_table:hover{
  margin-left: 25%;
  transform: scale(2.0);
  cursor: zoom-in;
  position: center;
  display: block;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

#CMV{
  padding: 2%;
}