.node circle {
  /*fill: steelblue;
  stroke: steelblue;
  stroke-width: 3px;
  */
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
}

.node {
  border: solid 1px rgb(255, 255, 255);
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/* TOP MENU */
.menu {
  background-color:rgb(224, 224, 224);
  position: fixed;
  overflow: hidden;
  font: 14px sans-serif;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: top 0.5s;
}


/* Style the links inside the navigation bar */
.menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color when hovering over button*/
.menu a:hover {
  color:white;
  background-color:#74a9cf;
}

.container{
  margin-top: 50px;
}